///*@import "compass/reset";*/
@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/box-sizing";
@import "compass/css3/flexbox";
@import "compass/support";
@import "compass/utilities";
@import "compass/utilities/sprites";
@import "compass/utilities/general/clearfix";

$icons-spacing: 25px;
@import "icons/*.png";
$experimental-support-for-svg: true;
$svg-gradient-shim-threshold: 0.1;

$content_width: 1005px;

///* Colors */
$color_main: #000000;
$color_red: #991a1d;
$color_error: #cc0000;

///* Backgrounds */
$bg_gray: #f4f4f4;

///* font-weights */
$thin : 100;
$light: 200;
$medium: 500;
$normal: 400;
$bold: 600;
$extra: 700;

// /* Fonts */
$main_font: 'pf_square_sans', serif;


///* Mixins */

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin linear_gradient($color_begin, $color_stop)
{
  background: $color_stop;
  @include filter-gradient($color_begin, $color_stop);
  @include background-image (linear-gradient(top, $color_begin, $color_stop));
}

@mixin spriter($name) {
  @include icons-sprite($name);
  $width: icons-sprite-width($name);
  $height: icons-sprite-height($name);
  width: $width;
  height: $height;
}

@mixin iconer($name) {
  @include icons-sprite($name);
  $width: icons-sprite-width($name);
  $height: icons-sprite-height($name);
  min-width: $width;
  min-height: $height;
  padding-left: $width+10;
}

@mixin block-justify ($amount) {
    text-align: justify;
    line-height: 0;
    text-justify: newspaper;
    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: '';
        display: inline-block;
    }
    &>* {
        width: 100% / $amount - 1%;
        display: inline-block;
        text-align: left;
        line-height: normal;
        vertical-align: top;
        //display : inline;
        //zoom : 1;
    }
}