* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: $main_font;
  font-weight: normal;
  font-size: 18px;
  color: $color_main;
}

strong, b {
  font-weight: $medium;
}

.container {
  width: $content_width;
  margin: auto;
  position: relative;
}

section {
  min-width: $content_width;
  width: 100%;
  @include pie-clearfix;
  margin-bottom: 50px;
}

textarea {
  resize: none;
}

h2 {
  font-size: 30px;
  font-weight: $light;
  margin-bottom: 30px;
}

sup {
  vertical-align: super;
  font-size: .5em;
}

a {
  color: $color_main;
  text-decoration: none;
  &:hover, &.active, &.selected {
    color: $color_red;
  }
}

blockquote {
  font-style: italic;
  font-weight: $light;
  &::before, &::after {
    content: '"';
  }
}

.main-wrapper {
  min-width: $content_width;
  width: 100%;
  overflow: hidden;
}

.gray {
  background-color: $bg_gray;
}

.btn {
  font-family: $main_font;
  display: inline-block;
  height: 49px;
  line-height: 49px;
  text-align: center;
  min-width: 240px;
  border: 2px solid $color_red;
  color: $color_main;
  text-decoration: none;
  background-color: #FFF;
  transition: all .2s;
  font-size: 18px;
  font-weight: $medium;
  background-color: #FFF;
  .gray & {
    background-color: $bg_gray;
  }
  &:hover {
    background-color: $color_red;
    color: #FFF;
  }
}


.bx-pager-link {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background-color: #FFF !important;
  border: 1px solid $color_red;
  position: relative;
  &::after {
    content: none;
    display: block;
    width: 6px;
    height: 6px;
    background-color: $color_red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  &.active {
    &::after {
      content: "";
    }
  }
}

.bx-wrapper {
  border: none;
  padding: 0;
  box-shadow: none;
  margin: 0;
}


header {
  font-weight: $medium;
  font-size: 18px;
  border-bottom: 2px solid $color_red;
  padding: 20px 0 16px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1027px;
    min-width: $content_width;
    width: 100%;
  }
  .logo {
    margin-right: 73px;
    cursor: pointer;
  }
  .keyauto-logo {
    margin-left: auto;
  }
  nav {
    align-self: stretch;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
    li {
      margin-right: 50px;
      &:last-child {
        margin-right: 0;
      }
    }
    .arrow {
      @include spriter(triangle);
      position: absolute;
      bottom: 0;
      bottom: -17px;
      transition: left .3s;
      left: -114px;
    }
  }
}

main {
  margin-top: 107px;
}


.bx-wrapper .bx-pager.bx-default-pager a {
  margin: 0 7px;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: -36px;
}

.section-slider {
  margin-bottom: 79px;
  img {
    display: block;
  }
  .info {
    background-color: #FFF;
    padding: 67px 17px 67px 34px;
    position: absolute;
    right: -20px;
    bottom: 40px;
    width: 395px;
    .h2 {
      font-weight: $medium;
      font-size: 60px;
      margin-bottom: 8px;
    }
    .h3 {
      font-size: 48px;
      font-weight: $light;
      color: $color_red;
      text-transform: uppercase;
      margin-bottom: 28px;
    }
    .price {
      font-size: 30px;
      font-weight: $medium;
    }
    .btn {
      margin-top: 72px;
    }
  }
}

.title {
  &::after {
    content: "";
    display: inline-block;
    color: $color_red;
    width: 0;
    height: 0;
    border-top: .21em solid transparent;
    border-left: .2em solid $color_red;
    border-bottom: .21em solid transparent;
    margin-left: 0.2em;
    vertical-align: middle;
  }
}

.section-models {
  margin-bottom: 52px;
  h2 {
    background-color: #FFF;
    position: relative;
    display: inline-block;
    padding: 0 22px;
    margin-left: -22px;
    margin-bottom: 32px;
  }
  .container {
    padding-bottom: 68px;
    &::before {
      content: "";
      display: block;
      border: 2px solid $color_red;
      position: absolute;
      top: 1em;
      right: -68px;
      bottom: 0;
      left: -68px;
      z-index: -1;
    }
  }
}

.models-nav {
  font-weight: $medium;
  margin-bottom: 12px;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    margin-right: 30px;
    margin-bottom: 35px;
  }
}

.model-name {
  text-transform: capitalize;
}
.model-tab {
  display: none;
  min-height: 631px;
  &.active {
    display: block;
  }
  .items {
    overflow: hidden;
    width: 1005px !important;
  }
  .item {
    width: 265px;
    //height: 242px;
    height: 260px;
    background-color: #FFF;
    float: left;
    margin-right: 102px;
    margin-bottom: 23px;
    border: 1px solid $bg_gray;
    cursor: pointer;
    transition: all .2s;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      background-color: $color_red;
      .info {
        background: none;
        * {
          color: #FFF;
        }
      }
    }
  }
  .pic {
      width: 100%;
      height: 153px;
      position: relative;
      //background-color: $bg_gray;
      background-color: #000;
      &>img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
      }
  }
  .info {
    padding: 13px;
    .title {
      overflow: hidden;
      font-size: 18px;
      font-weight: $medium;
      margin-bottom: 12px;
      &::after {
        content: none;
      }
    }
    h3 {
      float: left;
      color: $color_red;
      width: 69%;
    }
    .price {
      float: right;
    }
    .description {
      font-size: 12px;
      line-height: 1.25;
    }
  }
}

.pager-prev, .pager-next {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.pager-prev {
  @include spriter(slider-prev);
  margin-right: 34px;
}
.pager-next {
  @include spriter(slider-next);
  margin-left: 34px;
}
.bx-pager-item {
  vertical-align: middle;
}

.bx-controls-direction {
  display: none;
}

.panels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  .item {
    background-color: $bg_gray;
    margin-bottom: 28px;
    padding: 28px 130px 28px 44px;
    width: 487px;
    height: 245px;
    position: relative;
    cursor: pointer;
    &:hover {
      .fake-link {
        border-bottom-color: transparent;
        color: $color_red;
      }
    }
  }
  h3 {
    color: $color_red;
    font-size: 30px;
    font-weight: $medium;
    text-transform: uppercase;
    margin-bottom: 3px;
    @extend .title;
  }
  h4 {
    color: $color_red;
    font-weight: $light;
    text-transform: uppercase;
    font-size: 24px;
  }
  .description {
    font-size: 18px;
    margin-top: 17px;
    line-height: 1.25;
  }
  .price {
    color: $color_red;
    font-size: 30px;
    margin: 5px 0;
    font-weight: $medium;
  }
  .fake-link {
    font-size: 18px;
    border-bottom: 1px solid #7A7A7A;
    display: inline-block;
    position: absolute;
    bottom: 18px;
    left: 44px;
  }
}

.section-offers {
  margin-bottom: 70px;
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: -50px;
  }
  h2 {
    margin-bottom: 47px;
  }
  .item {
    background-repeat: no-repeat;
    background-position: right bottom;
    &:nth-child(1n) {
      background-image: url(../images/special-1.png);
    }
    &:nth-child(2n) {
      background-image: url(../images/special-2.png);
    }
    &:nth-child(3n) {
      background-image: url(../images/special-3.png);
    }
    &:nth-child(4n) {
      background-image: url(../images/special-4.png);
    }
  }
}

h2 {
  &.accented {
    color: $color_red;
    font-size: 48px;
    font-weight: $light;
    span {
      color: $color_main;
    }
    @extend .title;
    &::after {
    }
  }
}

.accented br + span {
    display: inline-block;
    margin: 0.2em 0;
}

.section-test {
  min-height: 588px;
  position: relative;
  h2 {
    margin-bottom: 35px;
  }
  .container {
    padding: 61px 0;
    position: relative;
    height: 100%;
    .parallax-bg {
      right: -299px;
      width: 900px;
      height: 588px;
    }
    &::after {
      position: absolute;
      bottom: 0;
      right: -299px;
      width: 900px;
      height: 588px;
      content: none;
      background: url(../images/babishcha.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .description {
    margin-bottom: 52px;
    font-size: 24px;
    line-height: 1.25;
  }
}

form {
  input {
    outline-style: none;
    appearance: none;
  }
  .form-item {
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-action {
    margin-top: 54px;
  }
  input.form-text {
    transition: all .5s;
    width: 260px;
    height: 42px;
    border-radius: 0;
    border: 1px solid #FFF;
    padding: 0 20px;
    font-size: 18px;
    font-weight: $light;
    color: $color_main;
    @include input-placeholder {
      color: #000;
    }
    &~.form-text {
      margin-left: 15px;
    }
    &.error {
      border-color: $color_red;
      color: $color_red;
      @include input-placeholder {
        color: $color_red;
      }
    }
    &:focus {
      border-color: $color_main;
      @include input-placeholder {
        color: #000;
      }
    }
  }
  input[type="submit"] {
    font-family: $main_font;
    border: 2px solid $color_red;
    width: 307px;
    height: 49px;
    font-size: 18px;
    font-weight: $medium;
    color: $color_main;
    cursor: pointer;
    transition: all .2s;
    background-color: #FFF;
    .gray & {
      background-color: $bg_gray;
    }
    &:hover {
      background-color: $color_red;
      color: #FFF;
    }
  }
  .success {
    @extend h2;
  }
}

.section-services {
  margin-bottom: 40px;
  h2 {
    margin-bottom: 48px;
  }
  .item {
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 24px;
    &:nth-child(1n) {
      background-image: url(../images/services-1.png);
    }
    &:nth-child(2n) {
      background-image: url(../images/services-2.png);
    }
    &:nth-child(3n) {
      background-image: url(../images/services-3.png);
    }
    &:nth-child(4n) {
      background-image: url(../images/services-4.png);
    }
    h3 {
      text-transform: none;
      line-height: 1.25;
      &::after {
        top: 0;
      }
    }
    .fake-link {
      position: relative;
      bottom: auto;
      left: auto;
      margin-top: 19px;
    }
  }
}

.section-to {
  min-height: 588px;
  overflow: hidden;
  margin-bottom: 60px;
  h2 {
    margin-bottom: 68px;
  }
  .form-action {
    margin-top: 88px;
  }
  .container {
    padding: 60px 0 105px;
    position: relative;
    &::after {
      position: absolute;
      top: -67px;
      right: -122px;
      width: 561px;
      height: 660px;
      content: "";
      background: url(../images/bg-to.jpg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

}

.text-content {
  line-height: 1.2;
  font-size: 18px;
  font-style: italic;
  p {
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section-about {
  padding-bottom: 71px;
  h2 {
    margin-bottom: 73px;
  }
}

footer {
  height: 80px;
  font-size: 14px;
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1027px;
    min-width: $content_width;
    width: 100%;
  }
  .studio {
    margin-left: auto;
    img {
      vertical-align: middle;
    }
  }
}

.map {
  height: 668px;
}

.section-contacts {
  margin-bottom: 0;
  position: relative;
  .container {
    width: 395px;
    position: absolute;
    margin: -1px auto auto -42px;
    top: 50%;
    left: 50%;
    transform: translate(-505px,-50%);
    z-index: 2;
    background-color: #FFF;
    padding: 25px 44px 46px;
    font-size: 14px;
  }
  address, .phone, .schedule {
    margin-bottom: 22px;
    vertical-align: middle;
    &::before {
      content: "";
      display: inline-block;
      margin-right: 17px;
      vertical-align: middle;
    }
  }
  address {
    &::before {
      @include spriter(icon-point);
    }
  }
  .phone {
    &::before {
      @include spriter(icon-phone);
    }
  }
  .schedule {
  margin-bottom: 14px;
    &::before {
      @include spriter(icon-clock);
    }
  }
}

.error-message {
  display: none;
}

.skrito {
  visibility: hidden;
  display: none;
  opacity: 0;
}



.item {
  .full-text {
    display: none;
  }
}

.full-text {
  ul {
     list-style-type: disc;
     list-style-position: inside;
     margin: 1em 0;
     li {
        list-style-type: disc;
        list-style-position: inside;
     }
  }
  ol {
     list-style-type: decimal;
     list-style-position: inside;
     margin: 1em 0;
     li {
       list-style-type: decimal;
       list-style-position: inside;
     }
  }
  p {
    margin-bottom: 1em;
  }
}

.full-item {
    background: $bg_gray;
    align-items: flex-start;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    line-height: 1.2;
    padding: 50px 53px 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 2;
    h3, h4 {
      font-size: 30px;
      color: $color_red;
      text-transform: uppercase;
    }
    h3 {
      font-weight: $medium;
      @extend .title;
    }
    h4 {
      font-weight: $light;

    }
    .price {
      font-size: 36px;
      color: $color_red;
      margin-bottom: 50px;
    }
    .full-text {
      margin: auto 0;
    }
    .close-btn {
      @extend .close;
      width: 27px;
      height: 27px;
      top: 52px;
      right: 47px;
      left: auto;
      &::before, &::after {
        height: 3px;
      }
    }

}

.full-item-bike {
  border: 2px solid $bg_gray;
  line-height: 1.2;
  background-color: #000;
  min-height: 452px;
  padding-left: 0;
  .back {
    z-index: 2;
    position: absolute;
    @include spriter(icon-arrow-white);
    top: 20px;
    left: 10px;
    &:hover {
      @include spriter(icon-arrow);
    }
  }
  .pic {
    position: absolute;
    top: 50%;
    width: 606px;
    left: 0;
    transform: translateY(-50%);
    height: auto;
    background: none;
    img {
      display: block;
    }
  }
  .info {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #FFF;
    padding: 35px 30px;
    width: 395px;
    &::before {
      content: none;
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 16px solid transparent;
      border-right: 20px solid #FFF;
      border-bottom: 16px solid transparent;
    }
  }
  .is_available {
    color: #1FA123;
    font-size: 14px;
    font-weight: $light;
    float: right;
    text-decoration: underline;
    margin-top: 10px;
    &::before {
      content: "";
      display: inline-block;
      @include spriter(icon-ok);
      margin-right: 5px;
    }
  }
  .brand {
    font-size: 36px;
    font-weight: $medium;
  }
  .model {
    font-weight: $light;
    font-size: 36px;
    color: $color_red;
    margin-bottom: 53px;
  }
  .params {
    margin-bottom: 64px;
  }
  .param {
    font-size: 18px;
    font-weight: $light;
    margin-bottom: 12px;
  }
  .param-name {
    width: 145px;
    padding-right: 1em;
    display: inline-block;
  }
  .param-value {
    font-weight: $medium;
    span {
      font-size: 14px;
      font-weight: $light;
    }
  }
  .price {
    font-size: 36px;
    margin-bottom: 23px;
    float: none !important;
    color: $color_main;
    &::after {
      content: "€";
      margin-left: 0.2em;
    }
  }
  .btn {
    margin-bottom: 17px;
    display: block;
    width: 240px;
  }
  .file-download {
    display: block;
    display: inline-block;
    color: $color_red;
    text-decoration: underline;
    font-size: 14px;
    font-weight: $medium;
    &:hover {
      text-decoration: none;
    }
  }
}

.center {
  text-align: center;
  &>* {
    margin-left: auto;
    margin-right: auto;
  }
}

.parallax-bg {
  background-attachment: fixed;
  background-position: calc(50% + 315px) center;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.brochure {
  margin: 20px 0;
  display: inline-block;
  font-weight: $medium;
  line-height: 24px;
  &::before {
    content: "";
    @include spriter(icon-download-passive);
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;
  }
  &:hover {
    &::before {
      @include spriter(icon-download);
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #000 !important;
}
