.close {
    position: absolute;
    left: 100%;
    bottom: 100%;
    margin-top: -1px;
    margin-right: -1px;
    display: inline-block;
    width: 22px;
    height: 22px;
    overflow: hidden;
    &:hover {
      &::before, &::after {
        filter: contrast(2);
      }
    }

    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: $color_red;
    }
    &::before {
      @include transform(rotate(45deg));
    }
    &::after {
      @include transform(rotate(-45deg));
    }
}

.overlay {
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#FFF, .68);
    top: 0;
    left: 0;
    display: none;
    &.showed {
        display: block;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    padding: 78px 70px;
    color: $color_main;
    display: none;
    text-align: center;
    background-color: #FFF;
    border: 1px solid $color_red;
    &.modal-showed {
        display: block;
    }
    h2 {
        font-size: 30px;
        text-transform: none;
        color: $color_red;
        font-weight: $medium;
        span {
            font-style: italic;
            font-weight: bold;
        }
    }
    .close-btn {
      @extend .close;
    }
    form {
        width: 310px;
        margin: auto;
        .form-item {
            position: relative;
            height: 42px;
            &:first-child {
                margin-top: 0;
            }
        }
        input.form-text {
            border: 1px solid #c0c0c0;
            height: 100%;
            width: 100%;
        }
        [type="submit"] {
            width: 100%;
        }
    }
}

.modal-success {
    font-size: 18px;
    color: $color_main;
    line-height: 1.2;
    h2 {
        //color: $color_main;
        font-size: 24px;
        text-transform: uppercase;
    }
}