#mouse-scroll {
    position: relative;
    margin:auto;
    left:50%;
    @include translateX(-50%);
    z-index:40;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    display: inline-block !important;
    margin-left: -10px;
    top: 53px;
    span {
        display:block;
        width:5px;
        height:5px;
        -ms-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
        border-right:2px solid #dddddd;
        border-bottom:2px solid #dddddd;
        margin:0 0 3px 0px;
    }
    &>div {width: 5px;margin: auto;}
    .unu {
        margin-top:6px;
        -webkit-animation-delay:.1s;
        -moz-animation-delay:.1s;
        -webkit-animation-direction:alternate;
    }
    .unu, .doi, .trei {
        -webkit-animation:mouse-scroll 1s infinite;
        -moz-animation:mouse-scroll 1s infinite;
        margin-left: 1px;
    }
    .doi {
        -webkit-animation-delay:.2s;
        -moz-animation-delay:.2s;
        -webkit-animation-direction:alternate;
    }
    .trei {
        -webkit-animation-delay:.3s;
        -moz-animation-delay:.3s;
        -webkit-animation-direction:alternate;
    }
    .mouse {
        height:36px;
        width:23px;
        border-radius:10px;
        -webkit-transform:none;
        -ms-transform:none;
        transform:none;
        border:2px solid #dddddd;
        top:170px;
        margin: auto;
        margin-top: 8px;
    }
    .wheel {
        height:5px;
        width:2px;
        display:block;
        margin:5px auto;
        background:#dddddd;
        position:relative;
        -webkit-animation:mouse-wheel 1.2s ease infinite;
        -moz-animation:mouse-wheel 1.2s ease infinite;
        animation:mouse-wheel 1.2s ease infinite;
    }
}

@-webkit-keyframes mouse-wheel {
    0% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    100% {opacity:0;-webkit-transform:translateY(6px);-ms-transform:translateY(6px);transform:translateY(6px)}
}
@keyframes mouse-wheel {
    0% {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    100% {opacity:0;-webkit-transform:translateY(6px);-ms-transform:translateY(6px);transform:translateY(6px)}
}
@-webkit-keyframes mouse-scroll {
    0% {opacity:0}
    50% {opacity:.5}
    100% {opacity:1}
}
@keyframes mouse-scroll {
    0% {opacity:0}
    50% {opacity:.5}
    100% {opacity:1}
}