@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-bold-webfont.eot');
    src: url('../fonts/pfsquaresanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-bold-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-bold-webfont.svg#pf_square_sans_probold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-bolditalic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-bolditalic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-bolditalic-webfont.svg#pf_square_sans_probold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-italic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-italic-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-italic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-italic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-italic-webfont.svg#pf_square_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-light-webfont.eot');
    src: url('../fonts/pfsquaresanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-light-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-light-webfont.svg#pf_square_sans_prolight') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-lightitalic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-lightitalic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-lightitalic-webfont.svg#pf_square_sans_proLtIt') format('svg');
    font-weight: 200;
    font-style: italic;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-meditalic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-meditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-meditalic-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-meditalic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-meditalic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-meditalic-webfont.svg#pf_square_sans_proMdIt') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-medium-webfont.eot');
    src: url('../fonts/pfsquaresanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-medium-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-medium-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-medium-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-medium-webfont.svg#pf_square_sans_promedium') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-regular-webfont.eot');
    src: url('../fonts/pfsquaresanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-regular-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-regular-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-regular-webfont.svg#pf_square_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-thin-webfont.eot');
    src: url('../fonts/pfsquaresanspro-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-thin-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-thin-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-thin-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-thin-webfont.svg#pf_square_sans_prothin') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-thinitalic-webfont.eot');
    src: url('../fonts/pfsquaresanspro-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-thinitalic-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-thinitalic-webfont.svg#pf_square_sans_prothin_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-xblack-webfont.eot');
    src: url('../fonts/pfsquaresanspro-xblack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-xblack-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-xblack-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-xblack-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-xblack-webfont.svg#pf_square_sans_proextra_black') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'pf_square_sans';
    src: url('../fonts/pfsquaresanspro-xblackital-webfont.eot');
    src: url('../fonts/pfsquaresanspro-xblackital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfsquaresanspro-xblackital-webfont.woff2') format('woff2'),
         url('../fonts/pfsquaresanspro-xblackital-webfont.woff') format('woff'),
         url('../fonts/pfsquaresanspro-xblackital-webfont.ttf') format('truetype'),
         url('../fonts/pfsquaresanspro-xblackital-webfont.svg#pf_square_sans_proXBlkIt') format('svg');
    font-weight: 700;
    font-style: italic;

}